img
{
    width:20rem;
    height: 20rem;
}

.product_div
{
    text-align: center;
}

a
{
    color: white;
    text-decoration: none;
}

div
{
    margin-bottom: 3rem;
    margin-top: 3rem;
}

table
{
    width:100%;
    text-align:center;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
td
{

    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    text-align:center;

}
tr
{

    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    
}
th
{

    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

mat-form-field
{
    width: 30%;
    margin-left:35%;
    margin-right:35%;
    padding-left:0;
    padding-right:0;
}
