<mat-toolbar>
  <span class="s1">
    <a routerLink=""><i class="fa fa-connectdevelop"></i> Products</a>
  </span>

  <span class="s2" >
    <a routerLink="./cart">🛒 Cart ({{items.length}})</a>
  </span>
</mat-toolbar>


<router-outlet></router-outlet>

<footer>
  <h2>Follow Us ! </h2>
  <a class="insta" target="blank" href="https://www.instagram.com/"><i class="fa fa-instagram fa-5x"></i></a>
  <br>
  <mat-checkbox> Receive news about the products.</mat-checkbox>
  <br>
  <mat-checkbox> 7x per week.</mat-checkbox>

</footer>




<!--
<div class="app_component_div">

  <i class="fa fa-connectdevelop fa-5x"></i>
  <h1>Registration Form </h1>

  <form action="">

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" placeholder="Example@mail.com" value="" name="name" required>
    </mat-form-field>

    <br>

    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput type="text" name="name" placeholder="Ex. Peter" value="" name="name" required>
    </mat-form-field>

    <br>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" required>
    </mat-form-field>

    <br>

    <mat-radio-group value="0">
      <h3>Gender : </h3>
      <mat-radio-button value="1">Male</mat-radio-button>
      <mat-radio-button value="2">Female</mat-radio-button>
    </mat-radio-group>

    <br>

    
  <mat-checkbox 
  #showDetails
  (change)="onChange()">
    Send me the news.
  </mat-checkbox>
  <p *ngIf="showDetails.checked" class="news_mensage">The news will be send to your email adress</p>
  <br>

  <button mat-raised-button color="accent">Save</button>

  </form>

  <br>

</div>


-->