/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/purple-green.css";

body
{
    background-color: rgb(110, 110, 112);
    color: white;
    border: 0;
    margin: 0;
    padding: 0;

}